%p
  = markdown("I am a **Full-Stack Developer**, with a concentration in `Ruby on Rails`, and a graduate of the Iron Yard's 12-Week immersive program in Indianapolis. I also have an extensive background in retail management. I am a passionate developer that is driven by the enjoyment I get when manifesting ideas and solutions from my computer. I plan on joining an ambitious dev team and using my skills to help make the world a better place.")
