%em.comment.row.justify-content-center
  %strong Phone: 317-410-5799
%em.comment.row.justify-content-center
  %strong Email: nktrabue@gmail.com
%em.comment.row.justify-content-center
  %strong= markdown("GitHub: [Click Here](http://www.github.com/OGNeekoPolo)")
%em.comment.row.justify-content-center
  %strong= markdown("LinkedIn: [Click Here](https://www.linkedin.com/in/nikolas-trabue-12b814144/)")
