-# %img{:alt => "icon name", :src => "/open-iconic/svg/icon-name.svg"}/

.navbar.navbar-default.navbar-fixed-bottom#footer
  .container.row
    %p.navbar-text.pull-left
      © 2017 - Site Built By Nik Trabue.
    .center-block
      %a{:href => "mailto:nktrabue@gmail.com"}
        = evil_icon 'ei-envelope', size: :m, class: "custom-class"
      %a{:href => "https://www.linkedin.com/in/nikolas-trabue-12b814144/"}
        = evil_icon 'ei-sc-linkedin', size: :m, class: "custom-class"
      %a{:href => "https://www.github.com/OGNeekoPolo"}
        = evil_icon 'ei-sc-github', size: :m, class: "custom-class"
