// Place all the styles related to the portfolio controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";

#family {
  img {
    width: 35%;
    height: 40%;
  }
}

#coding {
  height: 35%;
  width: 30%;
}

#sneakers2 {
  height: 35%;
  width: 30%;
}

#sneakers1 {
  height: 45%;
  width: 30%;
}

.sports {
  height: 35%;
  width: 30%
}

.free-pic {
  width: 100%;
  height: 50%;
}


.item-slide {
  img {
    height: 35%;
    width: 30%;
  }
}
